<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="C:\UTEC2021\NLOG\file.txt" />
    <target name="logError" xsi:type="File" fileName="C:\UTEC2021\NLOG\error.txt"
            layout="${longdate}${newline}
                   Nivel: ${level:uppercase=true}${newline}
                   Mensaje: ${message}${newline}
                   Excepcion: ${exception:format=tostring} "
            
    />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="logError" />
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>
